* {
  box-sizing: border-box; }

body, ul {
  padding: 0;
  margin: 0;
}

html, body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

a {
	color: #757575;
  text-decoration: none;
}

.main ul li {
	height: 49px;
	line-height: 50px;
	border-bottom: 1px solid #eee;
  position: relative;
}

.main ul li:before {
    position: absolute;
    left: 10px;
    width: 10px;
    height: 10px;
    color: #757575;
}

.main ul li a {
	display: block;
	text-indent: 40px;
}

.main ul li a:hover {
	background: #eee;
}

.arrow-right {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid #757575;
  border-left: 0;
  border-bottom: 0;
  top: 20px;
  right: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

